<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "=//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kopo.poly.persistance.mapper.INoticeMapper">
    <insert id="InsertNoticeInfo" parameterType="NoticeDTO">
        insert into notice
            (NOTICE_SEQ, TITLE, CONTENTS, REG_ID)
        values (NOTICE_SEQ.NEXTVAL, #{title}, #{contents}, #{reg_id})
    </insert>
    <select id="getNoticeList" resultType="NoticeDTO" parameterType="NoticeDTO">
        select *
        from notice
        order by notice_seq
    </select>
    <select id="getNoticeDetail" parameterType="NoticeDTO" resultType="NoticeDTO">
        select *
        from notice
        where NOTICE_SEQ = #{notice_seq}
    </select>
    <delete id="noticeDelete" parameterType="NoticeDTO">
        delete
        from notice
        where notice_seq = #{notice_seq}
    </delete>
    <update id="noticeUpdate" parameterType="NoticeDTO">
        update notice
        set title=#{title},
            contents=#{contents}
        where NOTICE_SEQ = #{notice_seq}
    </update>
</mapper>